@import url('./reset.css');

body {
  background-color: rgb(245, 245, 245);
  color: rgb(46, 47, 66);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.feedback-form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  width: 408px;
  padding: 24px;
}

label {
  display: block;
}

label:first-child {
  margin-bottom: 8px;
}

input {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 8px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  padding: 8px 16px;
  outline: 0px solid transparent;
  transition: border-color linear 250ms;
}

textarea {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 8px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  outline: 0px solid transparent;
  transition: border-color linear 250ms;
}

button {
  min-width: 95px;
  margin-top: 16px;
  align-items: center;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 8px;
  border: none;
  background-color: rgb(78, 117, 255);
  color: rgb(255, 255, 255);
  transition: background-color linear 250ms;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-color: #000000;
}

input:focus-within,
textarea:focus-within {
  border-color: #808080;
}

button:hover,
button:focus {
  background-color: rgb(108, 140, 255);
}
